<div class="login-box">
  <div class="login-logo">
    <a ui-sref="login"><b>Admin</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Username" ng-model="loginId">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" ng-model="loginPass">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="submitLogin()">Sign In</button>
            

        </div>
        
      </div>



    <a href="#">I forgot my password</a><br>
    <a ui-sref="register" class="text-center">Register a new membership</a>

  </div>
    <div class="alert alert-danger" ng-hide="ifDanger">
        <strong>Error!&nbsp;&nbsp;</strong>{{errorMsg}}
    </div>
</div>

